{{ network.ownership.managed_header }}
auto lo
iface lo inet loopback

auto {{ network.bridge_port }}
iface {{ network.bridge_port }} inet manual

auto {{ network.bridge }}
iface {{ network.bridge }} inet static
  address {{ network.proxmox.ipv4 }}
  gateway {{ network.gateway }}
  bridge-ports {{ network.bridge_port }}
  bridge-stp {{ network.ownership.bridge_stp | ternary('on', 'off') }}
  bridge-fd {{ network.ownership.bridge_forward_delay }}
