{{ {'format': 'home-lab-debian-production-dependencies-v1', 'contract_sha256': lookup('ansible.builtin.file', playbook_dir ~ '/../../infrastructure/contract/home-lab.yml', rstrip=False) | hash('sha256'), 'production_units': debian.transaction.production_units, 'systemd_dependencies': debian.transaction.production_systemd_dependencies} | to_json(sort_keys=True, separators=[',', ':']) }}
