[Unit]
Description=Schedule Home Lab Restic monthly maintenance

[Timer]
OnCalendar={{ restic_systemd.maintenance_calendar }}
Persistent=false
RandomizedDelaySec=1h
Unit=home-lab-restic-maintenance.target

[Install]
WantedBy=timers.target
